body {
    width: 1169px;
    margin: 0 auto;
}

h1 {
  display: inline-block;
}

.reg li {
  display: inline-block;
}

.menu li {
  display: inline-block;
}
.container {
    display: inline-block;
}
